{% extends 'base.html.twig' %}

{% block title %}Reviews Index{% endblock %}

{% block body %}
<section class="gradient-custom-2">
	<div class="container">
		<div class="row mt-5">
			<div class="col-8">
				<h3>Liste des Reviews</h3>
			</div>
			<div class="col-4">
				<a class="btn btn-primary btn-rounded btn-sm fw-bold" href="{{ path('app_reviews_new') }}" data-mdb-ripple-color="dark">
					Ajouter une nouvelle review
				</a>
			</div>
		</div>

		<!-- Table des Reviews -->
		<table class="table align-middle mb-0 bg-white mt-4">
			<thead class="bg-light">
				<tr>
					<th>Note</th>
					<th>Commentaire</th>
					<th>Date de publication</th>
					<th>Action 1</th>
					<th>Action 2</th>
				</tr>
			</thead>
			<tbody>
				{% for review in reviews %}
				<tr>
					<td>
						<div class="d-flex align-items-center">
							{# <img src="https://mdbootstrap.com/img/new/avatars/{{ random(1..20) }}.jpg" alt="" style="width: 45px; height: 45px" class="rounded-circle"/> #}
							<div class="ms-3">
								<p class="fw-bold mb-1">{{ review.rating }}</p>
							</div>
						</div>
					</td>
					<td>
						<p class="fw-normal mb-1">{{ review.comment }}</p>
					</td>
					<td>
						<p class="fw-normal mb-1">{{ review.createdAt ? review.createdAt|date('Y-m-d H:i:s') : '' }}</p>
					</td>
					<td>
						<a class="btn btn-secondary btn-rounded btn-sm fw-bold" href="{{ path('app_reviews_show', {'id': review.id}) }}" data-mdb-ripple-color="dark">
							Afficher
						</a>
					</td>
					<td>
						{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_LIBRARIAN') %}
							<a class="btn btn-info btn-rounded btn-sm fw-bold" href="{{ path('app_reviews_edit', {'id': review.id}) }}" data-mdb-ripple-color="dark">
								Modifier
							</a>
						{% endif %}
					</td>
				</tr>
				{% else %}
				<tr>
					<td colspan="5">Aucune review trouvée</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</section>
{% endblock %}
