{% extends 'base.html.twig' %}

{% block title %}BooksInventory{% endblock %}

{% block body %}
    <h1>BooksInventory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ books_inventory.id }}</td>
            </tr>
            <tr>
                <th>AvailableCopie</th>
                <td>{{ books_inventory.availableCopie }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ books_inventory.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_books_inventory_index') }}">back to list</a>

    <a href="{{ path('app_books_inventory_edit', {'id': books_inventory.id}) }}">edit</a>

    {{ include('books_inventory/_delete_form.html.twig') }}
{% endblock %}
